.container {
  @include rem(max-width, $container-width + $gutter-size);
  @include rem(margin, 50px auto);
  @include rem(padding, 0 ($gutter-size / 2));
  position: relative;
}

  .component {
    @include rem(margin-top, 80px);
  }

    .code {
      @include rem(margin-bottom, 20px);
      @include rem(padding, 10px 15px);
      font-family: $font-code;
      @include font-size(12px, 14px);
      color: #666;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
    }